numpy 
pandas
matplotlib
seaborn
gymnasium
gym_trading         # install from github: https://github.com/RaedShabbir/Trading-Gymnasium
stable-baselines3
sb3-contrib
ta
yfinance
PyYAML
rich 
tqdm 
ipywidgets